.hotels {
  padding: 1.875rem 2.1875rem 1.125rem 0;
}

.hotels__heading {
  line-height: 1.75rem;
  margin-top: .5rem;
  margin-bottom: 1.875rem;
}

.hotels-tags {
  display: flex;
  gap: 1.25rem;
  cursor: pointer;
}

.hotels__tag {
  border-radius: 100vw;
  padding: .675rem 1.875rem;
  border: 0.5px var(--neutral-700) solid;
}

.hotels__tag--selected {
  font-weight: var(--fw-extrabold);
  background-color: var(--primary-200);
  border: none;
}

.hotels__filter-icon {
  margin-left: auto;
}