.hotels {
  padding: 1.875rem 0 1.125rem 0;
  overflow-y: scroll;
}

.hotels::-webkit-scrollbar{
  display: none;
}

.hotels__heading {
  line-height: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 1.875rem;
}

.hotels-tags {
  display: flex;
  gap: 1.25rem;
  cursor: pointer;
}

.hotels__tag {
  border-radius: 100vw;
  padding: 0.675rem 1.875rem;
  border: 0.5px var(--neutral-700) solid;
}

.hotels__tag--selected {
  font-weight: var(--fw-extrabold);
  background-color: var(--primary-200);
  border: none;
}

.hotels__filter-icon {
  margin-left: auto;
}

.hotels-list {
  list-style: none;
  margin-top: 2rem;
  display: grid;
  gap: 1.875rem;
}

.hotel {
  background-color: var(--neutral-100);
  box-shadow: 0px 0.25rem 0.9375rem var(--neutral-810);
  padding: 0.675rem;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 9fr 10fr;
  text-align: left;
}

.hotel-image {
  display: flex;
}

.hotel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-texts {
  padding-block: 0.675rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .875rem;
}

.hotel-texts > div {
  display: flex;
  align-items: center;
}

.hotel__rate-number {
  margin-left: .25rem;
  margin-right: 1.25rem;
}

.hotel__type-text {
  margin-left: .6875rem;
}

@media(max-width: 64em){
  .hotels-tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: .75rem;
  }

  .hotels__tag {
    padding-inline: .5rem;
    /* max-width: 10rem; */
  }

  .hotel__filter-icon {
    display: none;
  }

  .hotels-list {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  
  .hotel {
    grid-template-columns: 1fr;
  }
}