.main {
  display: grid;
  grid-template-columns: 35rem 1fr;
  gap: 2.1875rem;
}

.hotels,
.map-container {
  max-height: calc(100dvh - var(--header-height));
}

@media(max-width: 64em){
  .main {
    grid-template-columns: 1fr;
  }
}