:root {
  /* Font Sizing */
  --fs-100: .75rem;
  --fs-200: .9375rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 2.25rem;

  /* Font */
  --ff-main: "Gilroy", sans-serif;
  --fl-heigth: 136%;
  --fl-heigth: 149.8%;

  /* Font Weights */
  --fw-light: 300;
  --fw-extrabold: 800;

  /* Colors */
  --primary-100: #5e81f4;
  --primary-110: #5e81f432;
  --primary-200: #dbdbfe85;

  --accent-100: #f6c002;
  --accent-110: #f6c1024a;

  --neutral-100: #ffffff;
  --neutral-200: #d3d3d3;
  --neutral-300: #bdbdbd;
  --neutral-400: #7a7a7a;
  --neutral-500: #3f3632;
  --neutral-600: #333333;
  --neutral-700: #3e4958;
  --neutral-800: #000000;

  /* Layout */
  --page-inline-padding: 1.875rem;
  --page-minimum-padding: 1.5rem;
  --page-layout-width: 1366px;

  /* Border Radius */
  --radius-100: .5rem;
  --radius-200: .625rem;
  --radius-300: 1rem;
  --radius-400: 1.25rem;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url("Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url("Gilroy-Light.otf.otf") format("opentype");
}
