:root {
  /* Font Sizing */
  --fs-100: 0.75rem;
  --fs-200: 0.9375rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 2.25rem;

  /* Font */
  --ff-main: "Gilroy", sans-serif;
  --fl-height-100: 136%;
  --fl-height-200: 149.8%;

  /* Font Weights */
  --fw-light: 300;
  --fw-extrabold: 800;

  /* Colors */
  --primary-100: #5e81f4;
  --primary-110: #5e81f432;
  --primary-200: #dbdbfe85;

  --accent-100: #f6c002;
  --accent-110: #f6c1024a;

  --neutral-100: #ffffff;
  --neutral-200: #d3d3d3;
  --neutral-300: #bdbdbd;
  --neutral-400: #7a7a7a;
  --neutral-500: #3f3632;
  --neutral-600: #333333;
  --neutral-700: #3e4958;
  --neutral-800: #000000;

  /* Layout */
  --page-inline-padding: 1.875rem;
  --page-minimum-padding: 1.5rem;
  --page-layout-width: 1366px;

  /* Border Radius */
  --radius-100: 0.5rem;
  --radius-200: 0.625rem;
  --radius-300: 1rem;
  --radius-400: 1.25rem;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url("Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url("Gilroy-Light.otf.otf") format("opentype");
}

/* defaults */

.container {
  width: min(
    100% - var(--page-minimum-padding) * 2,
    var(--page-layout-width) - var(--page-inline-padding) * 2
  );
  margin-inline: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--ff-main);
  color: var(--neutral-700);
  box-sizing: border-box;
  font-weight: var(--fw-light);
  line-height: var(--fl-height-100);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  font-family: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

ul[role="list"] {
  list-style: none;
}

/* Utility Classes */

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

@media (width > 64em) {
  .display-none-desktop {
    display: none;
  }
}

@media (max-width: 64em) {
  .fs-100-m {
    font-size: var(--fs-100);
  }

  .fs-200-m {
    font-size: var(--fs-200);
  }

  .fs-300-m {
    font-size: var(--fs-300);
  }

  .fs-400-m {
    font-size: var(--fs-400);
  }

  .fs-500-m {
    font-size: var(--fs-500);
  }

  .display-none-tablet {
    display: none;
  }
}

.primary-100 {
  color: var(--primary-100);
}

.primary-110 {
  color: var(--primary-110);
}

.primary-200 {
  color: var(--primary-200);
}

.accent-100 {
  color: var(--accent-100);
}

.accent-110 {
  color: var(--accent-110);
}

.neutral-100 {
  color: var(--neutral-100);
}

.neutral-200 {
  color: var(--neutral-200);
}

.neutral-300 {
  color: var(--neutral-300);
}

.neutral-400 {
  color: var(--neutral-400);
}

.neutral-500 {
  color: var(--neutral-500);
}

.neutral-600 {
  color: var(--neutral-600);
}

.neutral-700 {
  color: var(--neutral-700);
}

.neutral-800 {
  color: var(--neutral-800);
}

.round-100 {
  border-radius: var(--radius-100);
}

.round-200 {
  border-radius: var(--radius-200);
}

.round-300 {
  border-radius: var(--radius-300);
}

.round-400 {
  border-radius: var(--radius-400);
}

.fl-height-100 {
  line-height: var(--fl-height-100);
}

.fl-height-200 {
  line-height: var(--fl-height-200);
}

.fw-extrabold {
  font-weight: var(--fw-extrabold);
}

.fw-light {
  font-weight: var(--fw-light);
}